<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :summary %><br>
    <%= f.text_area :summary, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :due_date %><br>
    <%= f.date_select :due_date, {:prompt => {:day => 'Επιλογή ημέρας', :month => 'Επιλογή μήνα', :year => 'Επιλογή έτους'}}, {:class => "date-select", } %>
  </div>
  <div class="field">
    <%= f.label :project %><br>
    <%= f.collection_select(:project_id, Project.all, :id, :description, {include_blank: true}, {class: 'form-control'}) %>
  </div>
  <div class="actions">
    <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
     <i class="icon-ok icon-white"></i> Save
    <% end %>
  </div>
<% end %>
