<h1>Tasks</h1>

<table class = "table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Summary</th>
      <th>Project</th>
      <th>Due date</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= link_to task.title, task %></td>
        <td><%= link_to task.summary, task %></td>
        <td><%= task.project.description if !task.project.nil? %></td>
        <td><%= link_to task.due_date.strftime("%d/%m/%Y"), task %></td>
        <td><%= link_to 'Edit', edit_task_path(task), class: "btn btn-primary" %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @tasks, renderer: BootstrapPagination::Rails %>
<br>
<%= link_to 'New Task', new_task_path, class: "btn btn-primary" %>
