<!DOCTYPE html>
<html>
<head>
  <title>Project Management</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="row-fluid">
    <div class="span8 offset1">
      <div class="jumbotron">
        <div class="text-center">
          <h1>Project management</h1>
        </div>
          <div class="text-center">
            <%= link_to 'New Task', new_task_path, class: "btn btn-primary", remote: true %>
          </div>
      </div>
    </div>
  </div>
  <%= yield %>
</body>
</html>
