<!DOCTYPE html>
<html>
<head>
  <title>Project Management</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="row-fluid">
    <div class="span8 offset1">
      <div class="jumbotron">
        <div class="text-center">
          <h1>Project management</h1>
        </div>
          <div class="text-center">
            <%= link_to new_task_path, class: "btn btn-primary", remote: true do %>
              <span class="glyphicon glyphicon-plus-sign"></span>Add a task
            <% end %>
          </div>
          <div class = "text-center">
            <strong><%= current_user.email %></strong>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <span class="glyphicon glyphicon-off"></span>
            <% end %>
          </div>
          <div class = "text-center">

          </div>
      </div>
    </div>
  </div>
  <div class="container-fluid main-text">
    <%= yield %>
  </div>
</body>
</html>
