<!DOCTYPE html>
<html>
<head>
  <title>Project Management</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="row-fluid">
    <div class="span8 offset1">
      <div class="jumbotron">
        <h1>Project management<h1>
      </div>
    </div>
  </div>
  <%= yield %>
	<!--<table>
		<td class="col-md-1"></td>
    <td class="col-md-11"><%= yield %></td>
		<td class="col-md-1"></td>
	</table>-->
</body>
</html>
